body
{
    background-image:  url(../mnt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#myDIV
{  position: absolute;
   bottom: 10px;
   right: 10px;
   width: 200px;
   background: linear-gradient(to right, rgba(25, 25, 27, 0.9), rgba(36, 36, 41, 1)); 
   color: white;
   padding: 1px 10px;

   
   
}
.nature
{
    font-weight: bold;
}
#myDIV1
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    background: linear-gradient(to right, rgba(25, 25, 27, 0.9), rgba(36, 36, 41, 1)); 
    color: white;
    padding: 1px 10px;
}
#myDIV2
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    background: linear-gradient(to right, rgba(25, 25, 27, 0.9), rgba(36, 36, 41, 1)); 
    color: white;
    padding: 1px 10px;
}
#myDIV3
{
   position: absolute;
   top: 10px;
   right: 10px;
   width: 200px;
   background: linear-gradient(to right, rgba(25, 25, 27, 0.9), rgba(36, 36, 41, 1)); 
   color: white;
   padding: 1px 10px;
}
#myDIV4
{
   position: absolute;
   top: 50%;
   right: 40%;
   width: 200px;
   background: linear-gradient(to right, rgba(25, 25, 27, 0.9), rgba(36, 36, 41, 1)); 
   color: white;
   padding: 1px 10px;
}
.is-active
{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

button{
    position: absolute;
}
.btnFirst
{
    /* position: absolute; */
    top:290px;
    left: 300px;
}
.btnTwo
{
    top:320px;
    left: 300px;
}
.btnThree
{
    top:350px;
    left: 300px;
}
.btnFour
{
    top:380px;
    left: 300px; 
}
.btnFifth
{
    top:410px;
    left: 300px; 
}
