.container
{
    padding-top: 200px;
    padding-bottom: 200px;
    width: 800px;
    margin: auto;
}
.header ,
.navigation,
.footer
{
    display: flex;
    justify-content: center;
    margin: auto;
    outline: 2px solid black;
    padding: 10px 20px;
    width: 300px;
    font-weight: bold;
    margin-bottom: 10px;
}
.nav
{
    padding: 1px 20px;
}

.sec
{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}
.content
{
    outline: 2px solid black;
    width: 180px;
    font-weight: bold; 
    margin-right: 10px;
    padding: 60px 30px 100px 20px;
}
.sidebar
{
    outline: 2px solid black;
    width: 70px;
    font-weight: bold; 
    padding: 60px 15px 100px 15px;
}